.wholeContainer {
  display: flex;
  width: 100%;
}
.container {
  width: 80%;
    /*padding: 10px;*/
    /*border: 2px solid gray;*/
    margin: 2px;
    height: 450px;
    display: flex;
    border-radius :5px;
    overflow: auto;
    /* flex-wrap: wrap; */
    /* align-content: flex-start; */
  }
  .seccon{
    padding: 0;
  }
  .AA{
    width:120%;
    /* padding: 10px; */
    border: 2px solid gray;
    /* margin: 2px; */
    height: 200px;
    border-radius :5px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* align-content: center; */
  }
  .MFI{
    width: 120%;
    /* padding: 10px; */
    border: 2px solid gray;
    border-radius :5px;
    margin: 2px;
    height: 200px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* align-content: center; */
      /* Rest of your CSS */
  align-self: flex-end; /* Add this property to align the "MFI" div at the bottom */

  }
  .Footer1-item{
    display: inline-block;
  }

  .footer2{
    .indicator1{
      /*vertical-align: middle;
        text-align:center;
       left:5%;
        position:relative;
        display:table-cell;*/
        
        width: fit-content;
        margin: auto;
      }
    .circle1 {
      margin-left: 10px;
      display:inline-block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      font-size: 15px;
      color: #fff;
      line-height: 45px;
      text-align: center;
      vertical-align:middle;
      position: relative;
    } 
    .author1 {
      line-height: 40%;
      display:inline-block;
      vertical-align:middle;
      position: relative;
    }
  }
  .login-again {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: red;
  }
  .zoomButton {
    position: relative;
    z-index: 10;
    cursor: pointer;
  }
  .PlantName{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
  }