:root {
  --primary-clr: #01ADFF;
  --secondary-clr: #67DC1C;
}

body {
  background: #EEF3F9;
  font-family: 'Urbanist', sans-serif;
  height: 100vh;
}

/* ------- Common Classes ------- */

.fs-9 {
  font-size: 9px;
}

.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 0.9vw;
  line-height: 1vw;
}

.fs-14 {
  font-size: 0.8vw;
  line-height: 1vw;
}

.fs-16 {
  font-size: 1vw;
  line-height: 1.5vw;
}

.fs-18 {
  font-size: 1.5vw;
  line-height: 1.8vw;
}

.fs-12 {
  font-size: 12px;
}

.fs-8 {
  font-size: 8px;
}

.fw-800 {
  font-weight: 800;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.br-10 {
  border-radius: 10px;
}

.text-gray {
  color: #868686;
}

.text-dark {
  color: #1E1E1E;
}

/* ------------------------------ */

.dashboard-sec .brand-logo {
  background: #fff;
  border-radius: 10px;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.dashboard-sec .brand-logo img {
  height: 55px;
}

.dashboard-sec .about-brand-box {
  background: var(--primary-clr);
  padding: 0.5vw;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  height: 120px;

}

.dashboard-sec .about-brand-box .right-content-box {
  width: 3vw;
  height: 3vw;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-sec .about-brand-box .right-content-box img {
  height: 1.5vw;
}

.dashboard-sec .about-brand-box .left-content {
  padding-right: 5px;
}

.dashboard-sec .main-content .boxes-section .about-brand-box {
  background-color: #fff;
  color: #fff;
}

.dashboard-sec .main-content .boxes-section .about-brand-box .right-content-box {
  background: var(--primary-clr);
}

.dashboard-sec .main-content .right-main .anomaly-alert .heading {
  background: var(--primary-clr);
  padding: 5px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
  border-radius: 9px 9px 0 0;
}

.dashboard-sec .main-content .right-main .anomaly-alert .data-box {
  background-color: #fff;
  padding: 5px 5px 40px 5px;
  border-radius: 0 0 9px 9px;
}

.dashboard-sec .main-content .right-main .anomaly-alert .data {
  background: #F2F2F2;
  border-radius: 8px;
  padding: 10px;
  font-size: .9vw;
}

.dashboard-sec .main-content .right-main .anomaly-alert .data .data-badge {
  background-color: #fff;
  color: var(--primary-clr);
  padding: 2px 5px;
  font-weight: 700;
}

.cement-mill-sec .cement-mill-wrapper .cement-mill-box {
  background-color: #fff;
  border-radius: 10px;
}

.cement-mill-sec .cement-mill-wrapper .cement-mill-box .heading {
  background-color: #1E1E1E;
  padding: 3px;
  border-radius: 11px 11px 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden !important;
}

.cement-mill-sec .cement-mill-wrapper .cement-mill-box .color-boxes .box-wrapper {
  width: 8.2vw;
  margin: 0 auto 5px;
  overflow-y: auto;
  height: 2.1vw;
  text-align: center;
  padding: 0 !important;
}

.cement-mill-sec .cement-mill-wrapper .cement-mill-box .color-boxes .box-wrapper .box {
  width: 0.8vw;
  aspect-ratio: 1 / 1;
  border-radius: 1px;
  background: var(--secondary-clr);
  float: left;
  margin: 2px;
  padding: 0 !important;
}

.cement-mill-sec .cement-mill-wrapper .cement-mill-box .color-boxes .box-wrapper .box.orange {
  background: #F65F26;
}

.cement-mill-sec .cement-mill-wrapper .cement-mill-box .color-boxes .box-wrapper .box.yellow {
  background: #FCBF10;
}

.cement-mill-sec .cement-mill-wrapper .cement-mill-box .color-boxes .box-wrapper .box.outline {
  border: 1px solid #202020;
  background: #FFF;
}


.cement-mill-sec .cement-mill-wrapper .cement-mill-box .box-footer {
  background-color: var(--secondary-clr);
  padding-left: 12px;
  border-radius: 0 0 11px 11px;
}

.cement-mill-sec .cement-mill-wrapper .cement-mill-box .box-footer .i-icon img {
  width: 24px;
  border-radius: 0 0 11px 0;
}

.health-score-sec {
  padding: 0 3%;
}

.health-score-box {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 7px;
}

.health-score-box .score-box {
  width: 0.7vw;
  aspect-ratio: 1/1;
  border-radius: 1px;
  background: var(--secondary-clr);
}

.health-score-box .score-box.yellow {
  background: #FCBF10;
}

.health-score-box .score-box.red {
  background: #F65F26;
}

.health-score-box .score-box.outline {
  border: 1px solid #202020;
  background: #FFF;
}

.pagination-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.pagination-inner-sec {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.pagination-block {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 0;
  padding-left: 0;
}

.pagination-block .page-item.active {
  background-color: #000;
  color: #fff;
}

.pagination-block .page-item {
  background-color: #fff;
  width: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  border-radius: 7px;
  margin: 5px;
  font-size: 0.7vw;
}

.stop-auto-pagination {
  background-color: #fff;
  border-radius: 20px;
  padding: 5px 14px;
  display: flex;
  font-weight: 600;
  align-items: center;
  font-size: 0.7vw;
  line-height: 1.3vw;
}

.stop-auto-pagination input {
  width: 1vw;
  height: 0.65vw;
  vertical-align: middle;
}

.alerts-bar {
  font-size: 1vw;
  line-height: 1.3vw;
}

.right-main .data-box {
  height: 35vh;
  overflow-y: scroll;
}

.roll-press .modal-dialog {
  width: 50%;
  max-width: 100% !important;
}

.roll-press .modal-footer {
  justify-content: space-between;
  border: none;
}

.roll-press .modal-header {
  justify-content: center;
  border: none;
  padding-bottom: 0;
}

.roll-press .modal-title {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.modal-bottom-content p {
  line-height: 18px;
  font-size: 14px;
}


.custom-content-table .table {
  vertical-align: middle;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.custom-content-table .table>thead {
  vertical-align: middle;
  border: none;
}

.custom-content-table .table>thead tr th {
  background-color: var(--primary-clr);
  line-height: 17px;
  color: #fff;
  font-weight: 500;
}

.custom-content-table .table>thead tr th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.custom-content-table .table>thead tr th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.custom-content-table .table>tbody tr td {
  background-color: transparent;
  font-weight: 600;
}

.custom-content-table .table>tbody tr th {
  background-color: #ffc10a;
  border-radius: 10px;
  line-height: 18px;
}

.custom-content-table .table>tbody tr th.red {
  background-color: #ff5821;
}

.click-here-btn {
  background-color: var(--primary-clr);
  color: #fff;
}

.click-here-btn:hover {
  background-color: var(--secondary-clr);
  color: #fff;
}

.col-20 {
  flex: 0 0 auto;
  width: 20%;
}

.alerts-bar {
  overflow: hidden;
}

.dashboard-sec {
  padding: 10px 0;
}

.box-footer img,
.i-icon img {
  width: 0.5vw;
}
.app-list-dropdown-wrap{
  position: absolute;
  right: 40px;
  top: 40px;
  display: inline-block;
}
.app-list-trigger {
  width: 2vw;
  height: 2vw;
  top: 40px;
  right: 40px;
  background-color: #f1f6fe;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.app-list-trigger:hover{
  transform: scale(1.1);
}

.app-list-trigger img{
  width: 1.2vw;
  height: 1.2vw;
}

.app-list-dropdown {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
  width: 25vw;
  outline: 0px;
  font-family: sans-serif;
  position: absolute;
  right: 0;
  top: 2.5vw;
  display: none;
}

.app-list-items {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  list-style: none;
  margin: 0;
}

.app-list-item {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  text-align: center;
  width: 33.3%;
}

.app-list-link {
  text-align: center;
  display: block;
  color: #000;
  border-radius: 4px;
  text-decoration: none;
  padding: 1vh;
  margin: 1vh;
  font-size: 0.65vw
}

.app-list-link img {
  display: block;
  margin: 0 auto 10px;
  width: 2vw;
  height: 2vw;
}

.app-list-link span {
  display: block;
}

.app-list-link:hover {
  background: rgba(0, 0, 0, 0.04)
}
.title-container {
  height: 80px; /* Adjust the height based on your design */
}
.app-list-btn{
  color: rgb(255, 255, 255);
    background-color: rgb(25, 118, 210);
    font-weight: 500;
    font-size: 0.65vw;
    line-height: 1vw;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 16px;
    display: block;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}
.app-list-btn:hover{
  background: rgb(21, 101, 192);
}

/* --------- Resiponsive Style --------- */

@media (max-width: 991px) {

  .dashboard-sec .brand-logo,
  .dashboard-sec .about-brand-box {
    padding: 5px 18px;
  }

  .roll-press .modal-dialog {
    width: 97%;
  }
}

@media (max-width: 576px) {
  .title-section {
    flex-direction: column;
  }

}

@media only screen and (max-width:767px) and (min-width:481px) {
  .col-20 {
    width: 50%;
  }

  .cement-mill-sec .cement-mill-wrapper .cement-mill-box .heading {
    font-size: 12px;
  }

  .cement-mill-sec .cement-mill-wrapper .cement-mill-box p {
    font-size: 12px;
    line-height: 16px;
  }

}

@media (max-width:480px) {
  .col-20 {
    width: 100%;
  }
}

@media (max-width: 1024px) {

  .dashboard-sec .about-brand-box .right-content-box {
    width: 30px;
    height: 30px;
    border-radius: 6px;
  }

  .dashboard-sec .about-brand-box .right-content-box img {
    height: 25px;
  }

  .dashboard-sec .about-brand-box {
    height: auto;
  }

  .cement-mill-sec .cement-mill-wrapper .cement-mill-box .box-footer .i-icon img {
    width: auto;
    padding-right: 10px;
  }

  .pagination-block .page-item {
    height: 26px;
    width: 26px;
    line-height: 28px;
    border-radius: 6px;
    font-size: 13px;
    margin: 0 2px;
    font-size: 0.7vw;
  }

  .stop-auto-pagination input {
    margin-right: 5px;
  }

  .dashboard-sec .main-content .right-main .anomaly-alert .data {
    padding: 5px;
    font-size: 13px;
  }

  .right-main .data-box {
    overflow-y: scroll !important;
  }

  .cement-mill-sec .cement-mill-wrapper .cement-mill-box .color-boxes .box-wrapper .box {
    width: 10px;
    height: 10px;
  }
}


@media (min-width: 1025px) {

  .dashboard-sec .about-brand-box {
    height: 9vh;
  }

  .header .row>* {
    padding-left: 5px;
    padding-right: 5px;
  }

  .dashboard-sec .brand-logo {
    height: 9vh;
  }

  .dashboard-sec .brand-logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

}


@media screen and (min-width: 1024px) {
  div#root {
    height: 100%;
  }

  .App {
    height: 100%;
  }

  .App>div {
    height: 100%;
  }

  .dashboard-sec {
    height: 100%;
  }

  .dashboard-sec>div {
    height: 100%;
  }

  .header .row {
    margin-right: 0;
    margin-left: 0;
  }

  .main-content>.row {
    height: 100%;
  }

  .right-main {
    height: 100%;
  }

  .right-main>.row {
    height: 100%;
  }

  .anomaly-alert {
    height: 100%;
  }
}