.head{
    background-color: rgb(120, 120, 238);
    color:white;
    border-radius: 10px 10px 0 0;
    height: 30px;
    text-align: center;
    line-height: 30px;
    justify-self: flex-start;
    text-align: center;

}
.monitor-name{
    font-size: small;
}