.head{
    background-color: rgb(120, 120, 238);
    color:rgb(3, 24, 24);
    border-radius: 10px 10px 0 0;
    height: 40px;
    text-align: center;
    line-height: 40px;
    justify-self: flex-start;
    text-align: center;

}
.monitor-name{
    font-size: small;
}