.container {
    width: fit-content;
    
    padding: 10px;
    border: 5px solid gray;
    margin: 2px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .contenttop {
    width: 100% auto;
    padding: 10px;
    height: fit-content;
    border: 5px solid rgb(162, 139, 139);
    margin: 2px;
    text-align: center;
  }
  .content{
    width: fit-content;
  }