.nav{
    background-color:rgb(142, 138, 138);
    height: 40px;
    width: 100%;
}
.formSP{
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
}
.options{
    margin: 5px;
    width: 100px;
    text-align: center;
    border-radius: 3px;
}