.kpis{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.kpiItems{
    flex: 1 1;
    width: 0;
    margin: 0px 15px;
    margin-bottom: 5px;
}
.kpiItems img{
    width: 100%;
}
.PlantName{
    font-size: medium;
    text-align: center;
    margin: 10px 0 0;
}