.head{
    background-color: rgb(120, 120, 238);
    color:rgb(3, 24, 24);
    border-radius: 10px 10px 0 0;
    height: 40px;
    text-align: center;
    padding: 2px;

}
.content-box{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content-container {
  overflow: auto;
  justify-self: flex-start;
  flex: 1 1 auto;
  height: 0px;
  padding: 8px;
  overflow-y: scroll;
}
  
  .content-item {
    margin-bottom: 10px;
    border: none;
    padding: 0;
    font-size: small;
    line-height: 1;
  }
  
  .machine-name,
  .monitor-name,
  .anomaly-magnitude,
  .alert-timestamp,
  .anomaly-detected {
    margin-bottom: 5px;
  }
  
  .machine-name {
    font-weight: bold;
  }
  
  /* Optional: Customize scrollbar styles */
  .content-container::-webkit-scrollbar {
    width: 6px;
  }
  
  .content-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
  }
  
  .content-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  