.content-box{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content-container {
  overflow: auto;
  justify-self: flex-start;
  flex: 1 1 auto;
  height: 0px;
  padding: 8px;
  overflow-y: scroll;
}
  
  .content-item {
    margin-bottom: 8px;
    padding: 0 0 5px;
    border: none;
    font-size: small;
    line-height: 1;
    border-bottom: thin solid #888;
  }
  
  .machine-name,
  .monitor-name,
  .anomaly-magnitude,
  .alert-timestamp,
  .anomaly-detected {
    margin-bottom: 5px;
  }

  .machine-name ol, .monitor-name ol{
    margin-left: 15px;
    line-height: 1;
  }
  
  /* Optional: Customize scrollbar styles */
  .content-container::-webkit-scrollbar {
    width: 6px;
  }
  
  .content-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
  }
  
  .content-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  