.machines {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.machine {
  background: white;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  width: calc(20% - 4px);
  min-width: calc(20% - 4px);
  border-radius: 4px;
  margin: 2px;
  box-sizing: border-box;
}
.textEllipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
  .machines h4{
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 69ch;
    padding: 5px;
    font-weight: initial;
  }
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 999;
    text-align: left;
    width:55%;
  }
  .info-icon {
    cursor: pointer;
  }
  
  .info-icon:hover {
    cursor: pointer;
  }

  .popup .tableWrapper{
    max-height: 200px;
    overflow: auto;
  }
  
  .popup table{
    width: 100%;
   
  }
  
  .popup table tr th, .popup table tr td{
    border-bottom: solid 1px;
    text-align: center;
    width: 15%;
    padding: 5px;
  }