.MonitorWrapper{
  max-height: 80px;
  height: 80px;
  overflow: auto;
  padding: 2px;
}

.boxzz{
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color:rgb(100, 221, 23);
}

/* .monitor {
  background-color: gray;
  color: white;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
} */