.plant {
   display: flex;
   flex-direction: row;
   flex-basis: content;
   flex-wrap: wrap; /* Added property */
 align-content: flex-start;
  }
  .center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
    color: gray;
    margin: auto ;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .stat-border {
    height: 100%;
    width: 2px;
    background-color: #cecece;
}