*{
  /* padding: 20px;
  font-family: 'Times New Roman', Times, serif; */
  --primary-clr: #01ADFF;
  --secondary-clr: #67DC1C;
}
body {
  background: #EEF3F9;
  font-family: 'Urbanist', sans-serif;
height: 100vh;
}